.App {
  text-align: center;
}

.navLink {
  text-decoration: none;
  color: rgb(255, 217, 0);
}

.buttonlp {
 display: flex;
 align-items: center;
 width: 200px;
}
#map {
  z-index: -1;
}

.BlackFriday {
  color: rgb(255, 218, 7);
}
