.App {
  text-align: center;
}

.navLink {
  text-decoration: none;
  color: rgb(255, 217, 0);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  position: fixed;
  z-index: 500 !important;
  width: 100vw;
}

.hamburger {
  position: none;
}

@media only screen and (max-width: 600px) {
  .hamburger {
    position: block;
  }
}

#map {
  overflow: hidden;
}