.App {
  text-align: center;
}

.navLink {
  text-decoration: none;
  color: rgb(255, 217, 0);
}



.BlackFriday {
  color: rgb(255, 218, 7);
}
.spaceSation {
  background-color: blue;
  color: red;
}
